::placeholder {
	color: #888888;
}
.field__group,
.submit__group{
	width: 100%;
	float: left;
	margin-bottom: 15px;
	position: relative;
	.wpcf7-not-valid-tip{
		position: absolute;
		display: none;
	}
	label{
		margin-bottom: 0;
		.placeholder{
			width: 100%;
			float: left;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 8px;
		}
		sub{
			bottom: 0;
			font-weight: 400;
		}
	}
	&.half{
		.group{
			width: 50%;
			float: left;
			position: relative;
			padding-right: 6px;
			&.submit{
				margin-top: 28px;
				padding-left: 6px;
				padding-right: 0;
			}
			.ajax-loader{
				position: absolute;
			    margin: 0!important;
			    top: 13px;
			    right: 10px;
			}
		}
	}
}
.submit__group{
	margin-bottom: 12px;
	.ajax-loader{
		position: absolute;
		margin: 0!important;
		top: 13px;
		right: 10px;
	}
}
.form__field{
	width: 100%;
	float: left;
	height: 44px;
	border: 2px solid #FFFFFF;
	border-radius: 1px;
	background: rgba(255, 255, 255, 0.12);
	font-size: 16px;
	line-height: 20px;
	padding: 0 16px;
	color: #fff;
	&.hidden{
		display: none;
		pointer-events: none;
	}
	&.white{
		color: #111111;
		background-color: #fff;
		border: 2px solid rgba(54, 91, 120, 0.4);
		&::placeholder{
			color: #888;
		}
	}
	&::placeholder{
		color: #fff;
	}
	&:focus{
		outline: none;
	}
	&.wpcf7-not-valid{
		border-color: #f46464;
	}
	&.blue{
		background-color: #fff;
		border: 2px solid rgba(54, 91, 120, 0.4);
		color: #111111;
		&::placeholder{
			color: #888;
		}
		&:focus{
			border: 2px solid #A6D9EC;
		}
	}
}
textarea.form__field{
	height: 133px;
	resize: none;
	padding: 10px 16px;
}
.form__submit{
	width: 100%;
	height: 44px;
	float: left;
	background: #FFEF60;
	box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.32);
	border-radius: 1px;
	border: none;
	-webkit-transition: all 0.3s ease;
        	transition: all 0.3s ease;
	&:hover{
		background: #FADB37;
		box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.32);
	}
	&:focus{
		outline: none;
		background: #FADB37;
		box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.32);
	}
	&.blue{
		background: #365B78;
		box-shadow: none;
		color: #fff;
		&:hover{
			background: #FADB37;
			color: #111111;
		}
	}
}
.wpcf7 form {
	.wpcf7-response-output{
		width: 100%;
		float: left;
		padding: 10px 12px;
		margin: 0 0 10px 0;
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		border-width: 1px;
	}
	&.sent{
		.wpcf7-response-output{
			display: none!important;
		}
		.success__message{
			opacity: 1;
			visibility: visible;
		}
	}
}
.success__message{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #365B78;
	padding: 80px 36px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transition: all 0.3s ease;
        	transition: all 0.3s ease;
	&::before{
		content: '';
		width: 24px;
		height: 24px;
		display: block;
		margin-bottom: 12px;
		background-image: url('../images/success-icon.svg');
	}
}
.popup__wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	&.show{
		opacity: 1;
		visibility: visible;
	}
}
.popup{
	width: 360px;
	height: auto;
	position: fixed;
	top: 70%;
	left: 50%;
	margin: 0 0 0 -180px;
	opacity: 0;
	visibility: hidden;
	z-index: 101;
	filter: drop-shadow(0px 0px 24px rgba(51, 51, 51, 0.4));
	-webkit-transition: all 0.3s ease;
        	transition: all 0.3s ease;
	-webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    &.show{
    	top: 50%;
		opacity: 1;
		visibility: visible;
	}
	&.medium{
		width: 760px;
		margin: 0 0 0 -380px;
	}
    .close{
    	width: 18px;
    	height: 18px;
    	display: block;
    	position: absolute;
    	top: 20px;
    	right: 20px;
    	opacity: 1;
    	cursor: pointer;
    	&::before{
    		content: '';
    		width: 22px;
    		height: 2px;
    		display: block;
    		position: absolute;
    		background-color: #444;
    		left: -2px;
    		top: 50%;
    		margin-top: -1px;
    		-webkit-transform: rotate(45deg);
            		transform: rotate(45deg);
    	}
    	&::after{
    		content: '';
    		width: 22px;
    		height: 2px;
    		display: block;
    		position: absolute;
    		background-color: #444;
    		left: -2px;
    		top: 50%;
    		margin-top: -1px;
    		-webkit-transform: rotate(-45deg);
            		transform: rotate(-45deg);
    	}
    }
    .body__wrapper{
    	width: 100%;
		float: left;
		background: #FFFFFF;
		.left__side{
			width: 50%;
			float: left;
			padding: 40px;
			h4{
				font-weight: 600;
				margin-bottom: 20px;
			}
			.package__details{
				width: 100%;
				float: left;
				position: relative;
				padding: 0 0 0 64px;
				&::before{
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 40px;
					height: 40px;
					background-image: url('../images/company-icon.svg');
				}
				.name{
					font-size: 16px;
					line-height: 24px;
					span{
						font-weight: 600;
					}
				}
			}
		}
		.right__side{
			width: 50%;
			float: left;
			background: #E1F1F8;
			padding: 40px;
			.wpcf7{
				width: 100%;
				float: left;

			}
			.subtitle{
				width: 100%;
				float: left;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 40px;
			}
			.text{
				width: 100%;
				float: left;
				padding-top: 40px;
				border-top: 2px solid #fff;
				p{
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 0;
					a{
						font-weight: 600;
						color: #111;
					}
				}
			}
		}
    }
	.body{
		width: 100%;
		float: left;
		padding: 40px 28px 36px;
		background-color: #E1F1F8;
		h4{
			font-weight: 600;
			margin-bottom: 4px;
		}
		p{
			width: 100%;
			float: left;
			margin-bottom: 0;
			font-size: 14px;
			line-height: 20px;
		}
		.field__group{
			margin-bottom: 10px;
			label .placeholder{
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
			}
		}
		.form__submit{
			width: auto;
			padding: 10px 35px;
		}
	}
	.bottom__line{
		width: 100%;
		float: left;
		background-color: #fff;
		padding: 16px 28px 20px;
		p{
			margin-bottom: 0;
			font-size: 16px;
			line-height: 24px;
			a{
				font-size: 16px;
				line-height: 24px;
				color: #111;
				font-weight: 600;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.popup{
		&.medium{
			width: 360px;
			margin: 0 0 0 -180px;
		}
		.body__wrapper {
			.left__side{
				width: 100%;
				padding: 40px 40px 20px 40px;
			}
			.right__side{
				width: 100%;
				padding: 10px 40px 20px 40px;
				.subtitle{
					margin-bottom: 15px;
				}
				.text{
					padding-top: 15px;
				}
			}
		}
	}
}