::-moz-selection { background: #a6d9ec; }
::selection { background: #a6d9ec; }
html{
	overflow: auto;
	overflow-x: hidden;
}
body{
	overflow: hidden;
	&.single-faq,
	&.archive{
		background-color: #F6F7F7;
		.title{
			width: 100%;
			float: left;
			margin-bottom: 40px;
			h1{
				font-weight: 700;
				margin-bottom: 0;
			}
		}
		.content{
			width: 100%;
			min-height: 70vh;
			float: left;
			background-color: #fff;
			h3{
				font-weight: 600;
			}
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					padding-left: 20px;
					position: relative;
					margin-bottom: 20px;
					&::before{
						content: '';
						width: 8px;
						height: 8px;
						display: block;
						position: absolute;
						left: 0;
						top: 9px;
						border-radius: 50%;
						border: 2px solid #365B78;
					}
				}
			}
		}
	}
	&.single-faq{
		.content{
			padding: 40px;
			.video__wrapper{
				width: 100%;
				float: left;
				margin-bottom: 24px;
				.video__block{
					width: 100%;
					height: 395px;
					float: left;
					.thumbnail{
						width: 100%;
						height: 100%;
						background-size: cover;
						background-position: center;
					}
					&.play{
						.video__frame{
							opacity: 1;
							visibility: visible;
						}
					}
					.play__btn{
						width: 104px;
						height: 104px;
						display: block;
						position: absolute;
						left: 50%;
						top: 50%;
						margin: -52px 0 0 -52px;
						background-image: url('../images/play-icon.svg');
						cursor: pointer;
						-webkit-transition: all 0.3s ease;
								transition: all 0.3s ease;
						&:hover{
							background-image: url('../images/play-icon-hover.svg');
						}
					}
					.video__frame{
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						opacity: 0;
						visibility: hidden;
						-webkit-transition: all 0.3s ease;
								transition: all 0.3s ease;
						iframe{
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
						}
					}
				}
			}
		}
	}
}
.relative{
	position: relative;
}
.container-fluid{
	&.nopadding{
		max-width: 100%;
	}
	&.full__width{
		max-width: 100%;
	}
}
.nopadding{
	padding-left: 0;
	padding-right: 0;
	&.left{
		padding-right: 75px;
	}
}
main{
	width: 100%;
	float: left;
	min-height: 70vh;
}
section{
	width: 100%;
	float: left;
	padding: 80px 0 100px;
	overflow: hidden;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 32px;
		.link{
			float: left;
			position: relative;
			color: #111111;
			&:hover{
				text-decoration: none;
				color: #A6D9EC;
			}
			&::after{
				content: '';
				width: 100%;
				height: 2px;
				background-color: #A6D9EC;
				display: block;
				position: absolute;
				bottom: 8px;
				left: 0;
			}
			&::before{
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 0 8px 8px;
				border-color: transparent transparent transparent #111;
				position: absolute;
				right: -20px;
				top: 19px;
			}
		}
		h1{
			font-weight: 700;
		}
		h2{
			font-weight: 600;
			margin-bottom: 8px;
		}
		h3{
			font-weight: 600;
			margin-bottom: 16px;
		}
		p{
			font-size: 22px;
			line-height: 28px;
		}
	}
	&.background{
		&__grey{
			background-color: #F6F7F7;
		}
		&__blue{
			background-color: #E1F1F8;
		}
		&__dark{
			background-color: #365B78;
			color: #fff;
		}
	}
	&.small__padding{
		padding: 60px 0 80px;
	}
	&.widget{
		padding: 0;
	}
}
.breadcrumbs{
	width: 100%;
	float: left;
	margin: 24px 0 18px;
	span,
	a{
		float: left;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: #444444;
		margin-right: 10px;
	}
	a{
		text-decoration: underline;
		&:hover{
			color: #FADB37;
		}
	}
	.separate{
		width: 0;
		height: 0;
		margin-top: 8px;
		border-style: solid;
		border-width: 4px 0 4px 4px;
		border-color: transparent transparent transparent #D2D2D2;
		display: block;
		float: left;
	}
}
@media screen and (min-width: 1600px){
	.container-fluid{
		max-width: 1540px;
	}
}
@media screen and (max-width: 1599px){
	.container-fluid{
		max-width: 1140px;
	}
}
// @include media-breakpoint-only(lg){
// 	.container-fluid{
// 		max-width: 1140px;
// 	}
// }
@include media-breakpoint-down(lg){
	.container,
	.container-fluid{
		max-width: 1140px;
		padding-left: 30px;
		padding-right: 30px;
		&.nopadding{
			padding-left: 0;
			padding-right: 0;
		}
	}
}
@include media-breakpoint-down(sm){
	.container,
	.container-fluid{
		padding-left: 25px;
		padding-right: 25px;
		&.nopadding{
			padding-left: 0;
			padding-right: 0;
		}
	}
	section {
		padding: 60px 0 80px;
		.title {
			h1{
				font-size: 48px;
				line-height: 60px;
			}
		}
	}
}
@include media-breakpoint-down(xs){
	.container,
	.container-fluid{
		padding-left: 20px;
		padding-right: 20px;
		&.nopadding{
			padding-left: 0;
			padding-right: 0;
		}
	}
	section {
		padding: 60px 0 80px;
		.title {
			h1{
				font-size: 36px;
				line-height: 40px;
			}
			h2{
				font-size: 32px;
				line-height: 32px;
			}
			h3{
				font-size: 28px;
				line-height: 32px;
			}
		}
	}
}