@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic');

body{
	font-family: 'Montserrat', sans-serif;
}
.h1,
h1{
	font-size: 52px;
	line-height: 60px;
}
.h2,
h2{
	font-size: 40px;
	line-height: 48px;
}
.h3,
h3{
	font-size: 32px;
	line-height: 40px;
}
.h4,
h4{
	font-size: 24px;
	line-height: 32px;
}
.h5,
h5{
	font-size: 20px;
	line-height: 28px;
}
.h6,
h6{
	font-size: 18px;
	line-height: 32px;
}
p{
	font-size: 16px;
	line-height: 26px;
}
.btn{
	height: 44px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding: 11px 16px;
	border-width: 1px;
	border-radius: 0;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
        	transition: all 0.3s ease;
	span{
		position: relative;
		z-index: 2;
		-webkit-transition: all 0.3s ease;
            	transition: all 0.3s ease;
	}
	&::before{
		content: '';
		width: 500px;
		height: 500px;
		border-radius: 50%;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		background-color: transparent;
		-webkit-transition: all 0.5s ease;
            	transition: all 0.5s ease;
		-webkit-transform: scale(0.3) translate(-50%, -50%);
                transform: scale(0.3) translate(-50%, -50%);
	}
	&.shadow{
		box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.32);
	}
	&.transparent{
		border-color: rgba(255, 255, 255, 0.6);
		background-color: transparent;
		color: #FFFFFF;
		&::before{
			background-color: #FADB37;
		}
		&:hover{
			border-color: #FADB37;
			span{
				color: #111111;
			}
			&::before{
				-webkit-transform: scale(1) translate(-50%, -50%);
                		transform: scale(1) translate(-50%, -50%);
			}
		}
	}
	&.white{
		border-color: #fff;
		background-color: #fff;
		color: #111;
		&::before{
			background-color: #FADB37;
		}
		&:hover{
			border-color: #FADB37;
			span{
				color: #111111;
			}
			&::before{
				-webkit-transform: scale(1) translate(-50%, -50%);
                		transform: scale(1) translate(-50%, -50%);
			}
		}
	}
	&.black{
		border-color: #111;
		background-color: #fff;
		color: #111;
		&::before{
			background-color: #FADB37;
		}
		&:hover{
			border-color: #FADB37;
			span{
				color: #111111;
			}
			&::before{
				-webkit-transform: scale(1) translate(-50%, -50%);
                		transform: scale(1) translate(-50%, -50%);
			}
		}
	}
	&.blue{
		background-color: #365B78;
		border-color: #365B78;
		color: #fff;
		&::before{
			background-color: #fff;
		}
		&:hover{
			border-color: #fff;
			span{
				color: #111;
			}
			&::before{
				-webkit-transform: scale(1) translate(-50%, -50%);
                		transform: scale(1) translate(-50%, -50%);
			}
		}
	}
	&.primary{
		border: 2px solid #365B78;
		border-radius: 1px;
		padding: 11px 30px;
		span{
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #365B78;
		}
		&::before{
			background-color: #FADB37;
		}
		&:hover{
			border-color: #FADB37;
			span{
				color: #111111;
			}
			&::before{
				-webkit-transform: scale(1) translate(-50%, -50%);
                		transform: scale(1) translate(-50%, -50%);
			}
		}
	}
	&.secondary{
		height: 40px;
		padding: 10px 40px;
		border-color: #FFEF60;
		background-color: #FFEF60;
		span{
			color: #111111;
		}
		&::before{
			background-color: #FADB37;
		}
		&:hover{
			border-color: #FADB37;
			span{
				color: #111111;
			}
			&::before{
				-webkit-transform: scale(1) translate(-50%, -50%);
                		transform: scale(1) translate(-50%, -50%);
			}
		}
	}
	&:focus{
		box-shadow: none;
	}
}
a{
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
.text__link{
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	display: inline-block;
	position: relative;
	color: #111111;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
        	transition: all 0.2s ease;
	&::after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 0 6px 6px;
		border-color: transparent transparent transparent #111;
		position: absolute;
		top: 4px;
		right: -13px;
	}
	&::before{
		content: '';
		width: 100%;
		height: 2px;
		display: block;
		position: absolute;
		bottom: -4px;
		left: 0;
		background-color: #A6D9EC;
	}
	&:hover{
		text-decoration: none;
		color: #A6D9EC;
	}
	&.show{
		&::after{
			-webkit-transform: rotate(90deg);
            		transform: rotate(90deg);
		}
	}
}
.bold{
	font-weight: 700;
}
img{
	max-width: 100%;
	height: auto;
}
.dark-blue{
	color: #365B78;
}
@include media-breakpoint-down(md){
	h1{
		font-size: 48px;
		line-height: 60px;
	}
}
@include media-breakpoint-down(sm){
	h1{
		font-size: 36px;
		line-height: 40px;
	}
	.h2{
		font-size: 28px;
		line-height: 32px;
	}
}