.content__nav{
	width: 100%;
	float: left;
	margin-bottom: 30px;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			float: left;
			margin: 0 25px 10px 0;
			&.current-menu-item{
				a{
					font-weight: 600;
					border-bottom: 1px solid #444;
				}
			}
			a{
				font-size: 16px;
				line-height: 24px;
				color: #111111;
				border-bottom: 1px dashed rgba(68, 68, 68, 0.4);
				&:hover{
					border-bottom: 1px solid #444;
					text-decoration: none;
				}
			}
		}
	}
}
.blog__title{
	width: 100%;
	float: left;
	h1{
		font-weight: 700;
		margin-bottom: 28px;
	}
}
.pagination__row{
	width: 100%;
	float: left;
	margin: 60px 0 120px;
	span,
	a{
		display: inline-flex;
		margin: 0 3px;
		height: 45px;
		padding: 12px 15px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #111111;
		border-bottom: 1px solid #111;
	}
	a{
		border-color: transparent;
		&:hover{
			text-decoration: none;
			border-color: #111;
		}
		&.next{
			font-size: 0;
			span{
				display: block;
				padding: 0;
				margin: 0;
				border: none;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 0 8px 8px;
				border-color: transparent transparent transparent #111111;
			}
		}
		&.prev{
			font-size: 0;
			span{
				display: block;
				padding: 0;
				margin: 0;
				border: none;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 8px 8px 0;
				border-color: transparent #111111 transparent transparent;
			}
		}
	}
}
.load__row{
	width: 100%;
	float: left;
	margin: 60px 0 120px;
}
@include media-breakpoint-down(xs){
	.post__item.webinar .post .wrapper{
		padding: 0 40px 20px 20px;
	}
	.pagination__row{
		margin: 40px 0 80px;
	}
}