.call__back__section{
	.content{
		width: 100%;
		float: left;
		margin-top: 70px;
		.icon{
			width: 100%;
			float: left;
			margin-bottom: 20px;
		}
		h3{
			font-weight: 600;
			margin-bottom: 8px;
		}
		p{
			font-size: 20px;
			line-height: 28px;
		}
	}
}