.clients__story__section{
	.test__content{
		padding-right: 50px;
		border-right: 2px solid #E9E9E9;
		margin-bottom: 37px;
	}
}
.comments__block{
	width: 100%;
	float: left;
	padding-left: 15px;
	a{
		width: 100%;
		float: left;
		color: #212529;
	}
	.comment{
		width: 100%;
		float: left;
		border-bottom: 2px solid #E9E9E9;
		margin-bottom: 34px;
		padding-bottom: 8px;
		position: relative;
		&::after{
			content: '';
			display: block;
			position: absolute;
			width: 24px;
			height: 24px;
			top: 15px;
			right: 0;
		}
		&.google::after{
			background-image: url('../images/price/google.svg');
		}
		&.facebook::after{
			background-image: url('../images/price/facebook.svg');
		}
		&:last-child{
			border: none;
			margin-bottom: 20px;
		}
		.header{
			width: 100%;
			float: left;
			margin-bottom: 12px;
			.avatar{
				width: 60px;
				height: 60px;
				display: block;
				margin-right: 20px;
				float: left;
				background-position: center;
				background-size: cover;
				border-radius: 50%;
				overflow: hidden;
			}
			.title{
				width: auto;
				float: left;
				margin-top: 3px;
				margin-bottom: 0;
				h6{
					font-weight: 600;
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 5px;
				}
				.rates{
					float: left;
					margin-right: 10px;
					span{
						width: 17px;
						height: 16px;
						display: block;
						float: left;
						margin-right: 1px;
						background-position: center;
						background-size: cover;
						opacity: 0.3;
						background-image: url('../images/price/star.svg');
					}
					&.rate__5{
						span:nth-child(1),
						span:nth-child(2),
						span:nth-child(3),
						span:nth-child(4),
						span:nth-child(5){
							opacity: 1;
						}
					}
					&.rate__4{
						span:nth-child(1),
						span:nth-child(2),
						span:nth-child(3),
						span:nth-child(4){
							opacity: 1;
						}
					}
					&.rate__3{
						span:nth-child(1),
						span:nth-child(2),
						span:nth-child(3){
							opacity: 1;
						}
					}
					&.rate__2{
						span:nth-child(1),
						span:nth-child(2){
							opacity: 1;
						}
					}
					&.rate__1{
						span:nth-child(1){
							opacity: 1;
						}
					}
				}
				.dates{
					font-size: 12px;
					line-height: 16px;
					color: #444444;
					float: left;
					margin-top: 2px;
				}
			}
		}
		.body{
			width: 100%;
			float: left;
			p{
				font-size: 15px;
				line-height: 24px;
				margin-bottom: 20px;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.clients__story__section {
		.test__content{
			padding-right: 0;
			border-right: none;
			margin-bottom: 12px;
			&.small{
				.thumbnail,
				.video__block{
					height: 400px;
				}
			}
		}
		.text__link{
			margin-bottom: 40px;
		}
	}
	.comments__block{
		padding-left: 0;
		padding-top: 40px;
		border-top: 2px solid #E9E9E9;
	}
}
@include media-breakpoint-down(sm){
	.test__content .content {
		.project{
			width: 100%;
			padding-right: 0;
			margin-bottom: 20px;
			h6{
				margin-bottom: 0;
			}
		}
		.description{
			width: 100%;
		}
	}
}