.clients__slider{
	// padding-right: 50px;
	.swiper-slide{
		.logo{
			width: 100%;
			height: 60px;
			float: left;
			margin-bottom: 12px;
			img{
				width: auto;
				height: 100%;
			}
		}
		.content{
			width: 100%;
			float: left;
			p{
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 12px;
			}
		}
		.price{
			width: 100%;
			float: left;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
		}
	}
	.swiper-pagination{
		bottom: 0;
		z-index: 100;
	}
	.swiper-button-prev{
		display: none;
	}
	.swiper-button-next{
		margin-top: -80px;
	}
}
@include media-breakpoint-down(xs){
	.clients__slider .swiper-button-next{
		display: none;
	}
}