.contacts__section{
	padding: 44px 0 0;
	.content_block{
		h1{
			font-weight: bold;
			margin-bottom: 40px;
		}
		.timetable{
			width: 100%;
			float: left;
			margin: 8px 0 0;
		}
		.phone__row{
			width: 100%;
			float: left;
			a{
				display: block;
				float: left;
				&.phone{
					font-weight: 500;
					font-size: 20px;
					line-height: 24px;
					color: #111;
					margin-right: 16px;
					&:hover{
						color: #FADB37;
						text-decoration: none;
					}
				}
				&.viber{
					width: 20px;
					height: 22px;
					background-image: url('../images/contacts/viber.svg');
					margin: 2px 16px 0 0;
					&:hover{
						opacity: 0.7;
					}
				}
				&.telegram{
					width: 22px;
					height: 18px;
					background-image: url('../images/contacts/telegram.svg');
					margin: 3px 16px 0 0;
					&:hover{
						opacity: 0.7;
					}
				}
				&.messenger{
					width: 21px;
					height: 20px;
					background-image: url('../images/contacts/messenger.svg');
					margin: 2px 47px 0 0;
					&:hover{
						opacity: 0.7;
					}
				}
				&.email{
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
					text-decoration: underline;
					color: #111;
					margin: 2px 0 0 0;
					&:hover{
						color: #FADB37;
					}
				}
			}
		}
		.text{
			width: 100%;
			float: left;
			margin: 60px 0 0;
			h3{
				margin-bottom: 12px;
			}
			p{
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
.map__wrapper{
	width: 100%;
	float: left;
	.map{
		width: 100%;
		height: 560px;
		float: left;
	}
}
@include media-breakpoint-down(sm){
	.map__wrapper .map{
		height: 474px; 
	}
}
@include media-breakpoint-down(xs){
	.contacts__section .content_block .phone__row {
		a.messenger{
			margin: 2px 0 0 0;
		}
		a.email{
			clear: both;
			margin: 8px 0 20px 0;
		}
	}
	.map__wrapper .map{
		height: 560px; 
	}
}