.discounts__section{
	padding: 60px 0;
	.title__block{
		width: 100%;
		float: left;
		h3{
			color: #365B78;
			font-weight: 600;
			margin-bottom: 0;
		}
	}
	.discount__block{
		width: 100%;
		float: left;
		padding-top: 24px;
		h4{
			color: #365B78;
			margin-bottom: 16px;
			font-weight: 600;
			&.h2{
				line-height: 32px;
			}
		}
		p{
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 0;
		}
	}
}
@include media-breakpoint-down(sm){
	.discounts__section .discount__block{
		&.text-center{
			text-align: left!important;
		}
		h4{
			min-width: 84px;
			text-align: center;
			float: left;
			font-size: 32px;
			line-height: 32px;
		}
		p{
			margin: 5px 0 0 20px;
			float: left;
		}
	}
}