.employees__grid__section{
	padding: 60px 0;
	.employee{
		max-width: 188px;
		float: none;
		margin: 0 auto 60px;
		.avatar{
			width: 188px;
			height: 188px;
		}
		.text{
			float: none;
			p{
				margin-bottom: 0;
			}
		}
	}
	.line{
		width: 100%;
		height: 2px;
		background-color: #E9E9E9;
	}
}