.employees__slider__section{
	padding-bottom: 0;
}
.employees__slider{
	padding-bottom: 80px;
	border-bottom: 2px solid #E9E9E9;
	.swiper-button-next, 
	.swiper-button-prev{
		top: 25%;
	}
	.swiper-button-next{
		right: -20px;
	}
	.swiper-button-prev{
		left: -20px;
	}
}
.employee{
	width: 100%;
	float: left;
	.avatar{
		width: 180px;
		height: 180px;
		display: block;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		overflow: hidden;
		margin-bottom: 16px;
	}
	.text{
		width: 100%;
		float: left;
		h6{
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 0;
		}
		p{
			font-size: 14px;
			line-height: 20px;
		}
	}
}
@include media-breakpoint-down(xs){
	.employees__slider {
		.swiper-button-prev,
		.swiper-button-next{
			display: none;
		}
	}
}