.faq__section{
	padding: 60px 0 0px;
	.links__block{
		width: 100%;
		float: left;
		position: relative;
		padding-bottom: 80px;
		border-bottom: 2px solid #E9E9E9;
		a{
			background: #FFFFFF;
			border: 1px solid rgba(54, 91, 120, 0.4);
			border-radius: 1px;
			display: block;
			float: left;
			padding: 11px 16px;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #365B78;
			margin: 0 8px 8px 0;
			&:hover{
				text-decoration: none;
				background: #FADB37;
				border-color: #FADB37;
				color: #111111;
			}
		}
	}
}