.term__navigation{
	width: 100%;
	float: left;
	margin-bottom: 100px;
	padding-right: 20px;
	>ul{
		>li{
			border-bottom: 2px solid #E9E9E9;
		}
	}
	ul{
		width: 100%;
		float: left;
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			width: 100%;
			float: left;
			padding: 17px 0;
			&.show{
				ul{
					display: block;
				}
				span::before{
					-webkit-transform: rotate(90deg);
	            			transform: rotate(90deg);
				}
			}
		}
		span{
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			color: #111111;
			position: relative;
			padding-left: 24px;
			cursor: pointer;
			&::before{
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 0 6px 6px;
				border-color: transparent transparent transparent #111;
				position: absolute;
				left: 0;
				top: 3px;
			}
		}
		ul{
			display: none;
			padding: 8px 0 0;
			li{
				padding: 0;
			}
			a{
				width: 100%;
				float: left;
				font-size: 16px;
				line-height: 20px;
				color: #111111;
				position: relative;
				padding: 11px 0 13px 24px;
				&.active,
				&:hover{
					background-color: #365B78;
					text-decoration: none;
					color: #fff;
					&::after{
						border-color: transparent transparent transparent #365B78;
					}
				}
				&::after{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: -16px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 22px 0 22px 16px;
					border-color: transparent transparent transparent transparent;
					-webkit-transition: all 0.3s ease;
        					transition: all 0.3s ease;
				}
			}
		}
	}
}
@include media-breakpoint-down(md){
	body.single-faq .content{
		padding: 28px;
	}
}
@include media-breakpoint-down(sm){
	body.single-faq .content{
		width: auto;
		margin-left: -25px;
		margin-right: -25px;
		float: none;
		padding: 40px 28px 40px 28px;
	}
}