footer{
	width: 100%;
	padding: 60px 0;
	float: left;
	background-color: #333;
	a{
		&:hover{
			color: #FADB37;
			// text-decoration: none;
		}
	}
	.contact__block{
		margin-right: 65px;
	}
	.phone{
		float: left;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		display: block;
		color: #fff;
		margin-bottom: 24px;
	}
	button{
		margin-bottom: 24px;
	}
	.email{
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		position: relative;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		&:hover{
			text-decoration: none;
			border-color: #FADB37;
		}
	}
	.widget_nav_menu{
		ul{
			width: 100%;
			float: left;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				width: 100%;
				float: left;
				a{
					display: block;
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
					color: #FFFFFF;
					margin-bottom: 20px;
					&:hover{
						text-decoration: none;
						color: #FADB37;
					}
				}
			}
		}
	}
	.small__line{
		width: 100%;
		height: 1px;
		display: block;
		background-color: #fff;
		margin: 40px 0;
	}
	.language__switcher{
		width: 100%;
		float: left;
		margin-bottom: 28px;
		ul{
			width: 100%;
			float: left;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				width: 100%;
				float: left;
				a{
					width: 100%;
					float: left;
					display: block;
					font-size: 13px;
					line-height: 20px;
					color: #FFFFFF;
					margin-bottom: 12px;
					&:hover{
						color: #FADB37;
					}
				}
			}
		}
	}
	.paying__images{
		width: 100%;
		float: left;
		img{
			float: right;
			clear: both;
			margin-bottom: 36px;
		}
	}
	.social__block{
		width: 100%;
		float: left;
		a{
			width: 100%;
			height: 40px;
			float: left;
			display: block;
			position: relative;
			padding-left: 52px;
			margin-bottom: 12px;
			span{
				display: block;
				position: relative;
				float: left;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				color: #FFFFFF;
				margin-top: 8px;
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
				&::after{
					content: '';
					width: 100%;
					height: 2px;
					display: block;
					bottom: -2px;
					left: 0;
					position: absolute;
					background-color: #A6D9EC;
				}
			}
			&:hover{
				.icon{
					background-color: #FADB37;
					border-color: #FADB37;
				}
				span{
					color: #A6D9EC;
				}
			}
		}
		.icon{
			width: 40px;
			height: 40px;
			display: block;
			border-radius: 50%;
			border: 2px solid #fff;
			position: absolute;
			top: 0;
			left: 0;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			&::before{
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
	            		transform: translate(-50%, -50%);
			}
			&.facebook::before{
				width: 10px;
				height: 20px; 
				background-image: url('../images/facebook.svg');
			}
			&.youtube::before{
				width: 21px;
				height: 15px; 
				background-image: url('../images/youtube.svg');
			}
		}
		.text{
			width: 100%;
			float: left;
			p{
				font-weight: 500;
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 8px;
				color: #fff;
			}
		}
		.notice{
			width: 100%;
			float: left;
			p{
				font-size: 14px;
				line-height: 20px;
				color: #FFFFFF;
				margin-bottom: 0;
			}
		}
	}
}
@include media-breakpoint-down(md){
	footer {
		padding: 20px 0 68px;
		.contact__block{
			margin-right: 0;
			margin-bottom: 41px;
			&.float-right{
				float: left!important;
			}
		}
		.language__switcher{
			margin-bottom: 0;
		}
		.widget_nav_menu ul{
			margin-bottom: 20px;
		}
		.social__block{
			margin-bottom: 40px;
		}
		.paying__images{
			img{
				float: left;
				margin: 0 20px 0 0;
				clear: none;
			}
		}
	}
}