body{
	&.admin-bar{
		header,
		.menu__line{
			top: 32px;
		}
	}
	&.header__transparent,
	&.home{
		header{
			&::after{
				top: -100%;
			}
			.right__block{
				a{
					color: #fff!important;
				}
			}
			.btn.transparent{
				border-color: rgba(255, 255, 255, 0.6);
				background-color: transparent;
				color: #FFFFFF;
				&::before{
					background-color: #FADB37;
				}
				&:hover span{
					color: #111;
				}
			}
			&.white{
				&::after{
					top: 0;
				}
				.main__nav ul li a{
					color: #111;
					&::after{
						background-color: #444;
					}
				}
				.right__block a{
					color: #111!important;
				}
				.btn.transparent{
					color: #111111;
					border-color: #111111;
					&::before{
						background-color: #111111;
					}
					&:hover {
						border-color: #111;
						span{
							color: #fff;
						}
					}
				}
				.menu__btn span{
					background-color: #111;
				}
			}
		}
		.menu__btn span{
			background-color: #DADADA;
		}
		main{
			padding: 0;
		}
		.main__nav{
			ul{
				li{
					a{
						color: #fff;
						&::after{
							background-color: #A6D9EC;
						}
					}
				}
			}
		}
		.page__banner,
		.page__banner .content{
			height: 100vh;
		}
	}
	main{
		padding: 102px 0 0;
		.page__banner,
		.page__banner .content{
			height: calc(100vh - 102px);
		}
	}
	header{
		&::after{
			top: 0;
		}
		.main__nav ul li a{
			color: #111;
			&::after{
				background-color: #444;
			}
		}
		.right__block a{
			color: #111!important;
		}
		.btn.transparent{
			color: #111111;
			border-color: #111111;
			&::before{
				background-color: #111111;
			}
			&:hover {
				span{
					color: #fff;
				}
			}
		}
	}
}
@include media-breakpoint-down(md){
	body main{
		padding: 92px 0 0;
	}
}
@include media-breakpoint-down(sm){
	body main{
		padding: 71px 0 0;
	}
}
header{
	width: 100%;
	min-height: 102px;
	position: fixed;
	top: 0;
	left: 0;
	float: left;
	padding: 24px 0;
	z-index: 100;
	&::after{
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		z-index: -1;
		left: 0;
		top: -100%;
		background-color: #fff;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}
	.logo{
		margin-right: 28px;
	}
	.right__block{
		a{
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			margin: 12px 39px 0;
			color: #fff;
		}
	}
}
.main__nav{
	margin: 10px 0 0;
	ul li {
		&.menu-item-has-children{
			&:hover{
				>ul{
					opacity: 1;
					visibility: visible;
					top: -10px;
				}
			}
		}
		ul li{
			&.current-menu-item{
				>a{
					color: #A6D9EC!important;
				}
			}
		}
	}
	>ul{
		>li{
			&.menu-item-has-children{
				&:hover{
					>ul{
						opacity: 1;
						visibility: visible;
						top: 120%;
					}
				}
			}
			>ul{
				position: absolute;
				top: 150%;
				left: 0;
				width: 250px;
				background-color: #fff;
				padding: 10px 0;
				opacity: 0;
				visibility: hidden;
				box-shadow: 0 0 12px rgba(51,51,51,.12);
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
				li{
					width: 100%;
					float: left;
					margin: 0;
					padding: 0;
					// &.current-menu-item{
					// 	a{
					// 		color: #A6D9EC!important;
					// 	}
					// }
					ul{
						top: 120%;
						left: 100%;
						position: absolute;
						width: 250px;
						background-color: #fff;
						padding: 10px 0;
						opacity: 0;
						visibility: hidden;
						box-shadow: 0 0 12px rgba(51,51,51,.12);
						-webkit-transition: all 0.3s ease;
								transition: all 0.3s ease;
					}
					a{
						width: 100%;
						float: left;
						font-weight: 500;
						font-size: 14px;
						line-height: 18px;
						padding: 8px 20px;
						color: #111!important;
						&::after{
							display: none;
						}
					}
				}
			}
		}
	}
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			float: left;
			margin: 0 12px;
			position: relative;
			&.current_page_ancestor,
			&.current-menu-item{
				a::after{
					left: 0;
					opacity: 1;
					visibility: visible;
				}
			}
			a{
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				padding: 5px 0;
				color: #fff;
				position: relative;
				&:hover{
					text-decoration: none;
					&::after{
						left: 0;
						opacity: 1;
						visibility: visible;
					}
				}
				&::after{
					content: '';
					width: 100%;
					height: 2px;
					display: block;
					position: absolute;
					bottom: 0;
					left: -20px;
					background-color: #A6D9EC;
					opacity: 0;
					visibility: hidden;
					-webkit-transition: all 0.2s ease;
							transition: all 0.2s ease;
				}
			}
		}
	}
}
.menu__btn{
	width: 20px;
	height: 18px;
	cursor: pointer;
	position: relative;
	margin-top: 12px;
	span{
		width: 100%;
		height: 2px;
		display: block;
		background-color: #111;
		position: absolute;
		left: 0;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&:nth-child(1){
			top: 3px;
		}
		&:nth-child(2){
			top: 8px;
		}
		&:nth-child(3){
			top: 13px;
		}
	}
	&.show{
		// span:nth-child(1){
		// 	top: 8px;
		// 	-webkit-transform: rotate(135deg);
  //       			transform: rotate(135deg);
		// }
		// span:nth-child(2){
		// 	opacity: 0;
		// 	-webkit-transform: translateX(-15px);
  //           		transform: translateX(-15px);
		// }
		// span:nth-child(3){
		// 	top: 8px;
		// 	-webkit-transform: rotate(225deg);
  //       			transform: rotate(225deg);
		// }
	}
}
.mobile__nav{
	width: 100%;
	max-width: 400px;
	background-color: rgba(255,255,255,0.96);
	position: fixed;
	top: 0;
	bottom: 0;
	right: -100%;
	z-index: 100;
	overflow-y: auto;
	box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.12);
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&.show{
		right: 0;
	}
	.close__btn{
		width: 20px;
		height: 18px;
		cursor: pointer;
		position: absolute;
		top: 22px;
		right: 22px;
		z-index: 10;
		span{
			width: 100%;
			height: 2px;
			display: block;
			background-color: #111;
			position: absolute;
			left: 0;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			&:nth-child(1){
				top: 8px;
				-webkit-transform: rotate(135deg);
	        			transform: rotate(135deg);
			}
			&:nth-child(2){
				top: 8px;
				-webkit-transform: rotate(225deg);
	        			transform: rotate(225deg);
			}
		}
	}
	.mobile__menu{
		width: 100%;
		float: left;
		margin: 0 0 0;
		// position: absolute;
		// top: 28px;
		// left: 0;
		padding: 28px 40px 0 41px;
		z-index: 1;
		ul{
			width: 100%;
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;
			border-bottom: 2px solid #E9E9E9;
			li{
				width: 100%;
				margin: 0 0 24px 0;
				ul{
					padding: 15px 0 5px 15px;
					border: none;
					li{
						margin: 0 0 10px 0;
						a{
						    font-size: 14px;
    						line-height: 18px;
						}
					}
				}
				a{
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
					color: #111;
					position: relative;
					padding-left: 22px;
					&::before{
						content: '';
						position: absolute;
						left: 0px;
						top: 3px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 6px 0 6px 6px;
						border-color: transparent transparent transparent #000111;
						opacity: 0;
						visibility: hidden;
					}
				}
				&.current-menu-item{
					a::before{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	.form__wrapper{
		width: 100%;
		float: left;
		padding: 28px 40px 0 41px;

	}
	.form__block{
		width: 100%;
		position: relative;
		padding: 0 22px 28px 22px;
		float: left;
		border-bottom: 2px solid #e9e9e9;
		h5{
			font-weight: 600;
			margin-bottom: 12px;
			line-height: 24px;
		}
		p{
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 0;
		}
		.field__group{
			margin-bottom: 8px;
			position: relative;
			label {
				.placeholder{
					font-size: 14px;
				}
			}
			.ajax-loader{
				position: absolute;
				top: 13px;
				right: 10px;
			}
		}
		.form__field{
			font-size: 14px;
			line-height: 20px;
		}
	}
	.language__switcher{
		width: 100%;
		float: left;
		margin: 28px 0 0;
		padding: 0 44px 35px 63px;
		ul{
			width: 100%;
			float: left;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				width: 50%;
				float: left;
				a{
					font-size: 16px;
					line-height: 20px;
					color: #111111;
				}
			}
		}
	}
}
@media screen and (max-width: 1600px){
	.main__nav ul li{
		margin: 0 5px;
	}
}
@include media-breakpoint-down(lg){
	header{
		.right__block{
			a{
				width: 100%;
				display: block;
				text-align: right;
				margin: 0 0 12px 0;
			}
			.btn{
				clear: both;
			}
		}
	}
}
@include media-breakpoint-down(md){
	header {
		min-height: 92px;
		.right__block{
			a{
				width: auto;
			    margin: 12px 20px 12px;
			    font-size: 14px;
			}
		}
		.logo{
			width: 140px;
		}
	}
}
@include media-breakpoint-down(sm){
	header{
		padding: 21px 0 17px;
		min-height: 70px;
		.logo{
			width: 108px;
		}
		.right__block{
			a{
				margin: 4px 20px;
			}
		}
	}
	.menu__btn{
		margin-top: 5px;
	}
}