.home__banner{
	width: 100%;
	height: 800px;
	background-position: 10% 90%;
	background-size: cover;
	float: left;
	position: relative;
	padding-top: 148px;
	&::before{
		content: '';
		pointer-events: none;
		width: 440px;
		height: 440px;
		display: block;
		position: absolute;
		background-image: url('../images/home/layer.svg');
		bottom: 30px;
		right: -220px;
	}
	.title{
		width: 100%;
		float: left;
		color: #fff;
		margin-bottom: 60px;
		h1{
			margin-bottom: 16px;
		}
		h3{
			strong{
				font-weight: 600;
			}
		}
	}
	.text{
		width: 100%;
		float: left;
		border-left: 2px solid #CCCCCC;
		padding-left: 23px;
		color: #fff;
		h5{
			margin-bottom: 16px;
		}
		p{
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 0;
		}
	}
	.timetable{
		width: 100%;
		float: left;
		margin-top: 130px;
		p{
			font-weight: 500;
			font-size: 14px;
			line-height: 28px;
			color: #fff;
		}
	}
	.button__block{
		margin-top: 30px;
		.label{
			margin-top: 12px;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #FFFFFF;
			position: relative;
			padding-left: 22px;
			&::before{
				content: '';
				width: 14px;
				height: 16px;
				display: block;
				position: absolute;
				left: 0;
				top: 1px;
				background-image: url('../images/start-icon.svg');
			}
		}
	}
}
.additional__section{
	padding: 0;
	.text{
		width: 100%;
		float: left;
		border-left: 1px solid #CCCCCC;
		padding-left: 20px;
		margin-bottom: 14px;
		h5{
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
		}
		p{
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 0;
		}
	}
	.timetable{
		width: 100%;
		float: left;
		margin-bottom: 32px;
		p{
			font-size: 14px;
			line-height: 28px;
			margin-bottom: 0;
		}
	}
	.button__block{
		width: 100%;
		float: left;
		.label{
			margin-top: 12px;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #111;
			position: relative;
			padding-left: 22px;
			&::before{
				content: '';
				width: 14px;
				height: 16px;
				display: block;
				position: absolute;
				left: 0;
				top: 1px;
				background-image: url('../images/start-white-icon.svg');
			}
		}
	}
}
@include media-breakpoint-down(lg){
	.home__banner{
		background-position: center;
	}
}
@include media-breakpoint-down(md){
	.home__banner{
		height: 720px;
		overflow: visible;
		&::before{
			display: none;
		}
	}
}
@include media-breakpoint-down(sm){
	.home__banner {
		height: 600px;
		padding-top: 108px;
		.title{
			margin-bottom: 27px;
			h1{
				font-size: 48px;
				line-height: 48px;
				margin-bottom: 16px;
			}
			h3{
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 0;
			}
		}
		.text{
			h5{
				font-size: 18px;
				line-height: 24px;
			}
		}
		.timetable{
			margin-top: 14px;
		}
		.button__block{
			position: absolute;
			bottom: -70px;
			left: 20px;
			.label{
				color: #111111;
				&::before{
					background-image: url('../images/start-white-icon.svg');
				}
			}
		}
	}
}
@include media-breakpoint-down(xs){
	.home__banner{
		height: 500px;
	    background-position: 62% 0;
	    padding-top: 73px;
	    .title{
			margin-bottom: 8px;
			h1{
				font-size: 36px;
				line-height: 40px;
			}
			h3{
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
}