.steps__block{
	width: 100%;
	float: left;
	position: relative;
	&.steps__3{
		&::after{
			width: 727px;
			height: 328px;
			background-image: url('../images/3-steps-bg.svg');
		}
		.content{
			height: 328px;
		}
		.step__block{
			&:nth-child(2){
				top: 160px;
				left: -11px;
			}
			&:nth-child(3){
				top: 110px;
				left: 310px;
			}
			.text{
				width: 100%;
				float: left;
				text-align: left;
				li{
					width: 100%;
					float: left;
					font-weight: 500;
					text-align: left;
				}
			}
		}
		.form__block{
			top: 10px;
			left: 715px;
		}
	}
	&.steps__4{
		&::after{
			width: 727px;
			height: 354px;
			background-image: url('../images/fop/steps-bg.svg');
		}
		.content{
			height: 354px;
		}
		.step__block{
			&:nth-child(1){
				top: 45px;
				left: -11px;
			}
			&:nth-child(2){
				top: 200px;
				left: -11px;
			}
			&:nth-child(3){
				top: 235px;
				left: 308px;
			}
			&:nth-child(4){
				top: 75px;
				left: 308px;
			}
		}
		.form__block{
			top: 30px;
		}
	}
	&::after{
		content: '';
		width: 713px;
		height: 577px;
		display: block;
		background-image: url('../images/home/steps-background.svg');
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
	}
	.content{
		width: 713px;
		height: 577px;
		display: block;
		position: relative;
		counter-reset: step;
		z-index: 1;
	}
	.form__block{
		width: 345px;
		display: block;
		padding: 52px 50px;
		background: #365B78;
		border-radius: 1px;
		color: #fff;
		position: absolute;
		top: 200px;
		left: 664px;
		z-index: 1;
		h5{
			margin-bottom: 20px;
		}
		p{
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;
		}
	}
}
.step__block{
	width: 275px;
	position: absolute;
	padding-left: 52px;
	z-index: 1;
	.icon{
		text-align: left;
		margin-bottom: 12px;
	}
	p{
		width: 100%;
		float: left;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 4px;
	}
	.secure{
		background-color: #1CA57C;
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		display: block;
		position: relative;
		padding: 4px 8px 4px 23px;
		float: left;
		color: #fff;
		&::before{
			content: '';
			width: 10px;
			height: 12px;
			display: block;
			position: absolute;
			background-image: url('../images/home/secure-icon.svg');
			left: 8px;
			top: 6px;
		}
	}
	&::before{
		content: '';
		width: 28px;
		height: 28px;
		display: block;
		position: absolute;
		left: 0;
		top: 5px;
		background-color: #75BEDB;
		border-radius: 50%;
	}
	&::after{
		content: counter(step);
		counter-increment: step;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #F6F7F7;
		position: absolute;
		top: 5px;
		left: 0;
		width: 28px;
		height: 28px;
		text-align: center;
		line-height: 29px;
	}
	&:nth-child(1){
		top: 35px;
		left: -11px;
	}
	&:nth-child(2){
		top: 200px;
		left: -11px;
	}
	&:nth-child(3){
		top: 400px;
		left: -11px;
	}
	&:nth-child(4){
		top: 440px;
		left: 300px;
	}
	&:nth-child(5){
		top: 270px;
		left: 300px;
	}
	&:nth-child(6){
		top: 100px;
		left: 300px;
	}
	&:nth-child(7){
		top: 50px;
		left: 610px;
	}
}
@include media-breakpoint-down(lg){
	.steps__block .form__block{
		left: 620px;
		width: 320px;
		padding: 40px 40px;
	}
}
@include media-breakpoint-down(md){
	.steps__block{
		width: 100%;
		float: left;
		max-width: 372px;
		&.steps__3{
			.step__block{
				max-width: 350px;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3){
					top: auto;
					left: auto;
				}
			}
			&::after{
				width: 382px;
				height: 335px;
				background-image: url('../images/3-steps-bg-sm.svg');
			}
			.form__block{
				top: 10px;
				left: 400px;
			}
		}
		&.steps__4{
			.step__block{
				max-width: 350px;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4){
					top: auto;
					left: auto;
				}
			}
			&::after{
				width: 406px;
				height: 429px;
				background-image: url('../images/fop/steps-bg-sm.svg');
			}
			.form__block{
				top: 10px;
				left: 400px;
			}
		}
		&::after{
			width: 406px;
			height: 693px;
			left: 11px;
			top: 15px;
			background-image: url('../images/home/steps-background-sm.svg');
		}
		.content{
			width: 100%;
			float: left;
			height: auto;
		}
		.form__block{
			left: 400px;
			top: 290px;
		}
	}
	.step__block{
		width: 100%;
		min-height: 55px;
		float: left;
		max-width: inherit;
		position: relative;
		padding-left: 117px;
		margin-bottom: 40px;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7){
			top: auto;
			left: auto;
		}
		.icon{
			position: absolute;
			margin-bottom: 0;
			left: 56px;
			top: 50%;
			-webkit-transform: translateY(-50%);
            		transform: translateY(-50%);
		}
		p{
			margin-top: 7px;
		}
		&::after,
		&::before{
			top: 15px;
		}
	}
}
@include media-breakpoint-down(sm){
	.steps__block {
		&.steps__3{
			.step__block{
				max-width: 350px;
				margin-bottom: 35px;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3){
					top: auto;
					left: auto;
				}
			}
			&::after{
				width: 6px;
				height: 323px;
				background-image: url('../images/3-steps-bg-xs.svg');
			}
			.content{
				height: auto;
			}
			.form__block{
				width: 100%;
				float: left;
				position: relative;
				top: auto;
				left: auto;
			}
		}
		&.steps__4{
			.step__block{
				max-width: 350px;
				margin-bottom: 35px;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4){
					top: auto;
					left: auto;
				}
			}
			&::after{
				width: 6px;
				height: 373px;
				background-image: url('../images/fop/steps-bg-xs.svg');
			}
			.content{
				height: auto;
			}
			.form__block{
				width: 100%;
				float: left;
				position: relative;
				top: auto;
				left: auto;
				
			}
		}
		.form__block{
			width: 100%;
			float: left;
			position: relative;
			top: auto;
			left: auto;
		}
		&::after{
			width: 6px;
			height: 757px;
			background-image: url('../images/home/steps-background-xs.svg');
		}
	}
}