.image__slider__section{
	padding: 40px 0 52px;
}
.image__slider{
	.swiper-slide{
		height: 480px;
		width: auto;
		img{
			width: auto;
			height: 100%;
		}
	}
}
@include media-breakpoint-down(md){
	.image__slider .swiper-slide{
		height: 420px;
	}
}
@include media-breakpoint-down(sm){
	.image__slider .swiper-slide{
		height: 350px;
	}
}
@include media-breakpoint-down(xs){
	.image__slider .swiper-slide{
		height: 170px;
	}
}