.principle__cell{
	&:nth-child(3),
	&:nth-child(6),
	&:last-child{
		.principle::after{
			display: none;
		}
	}
	&:nth-child(7),
	&:last-child{
		.principle::before{
			display: none;
		}
	}
}
.principle{
	width: 100%;
	float: left;
	position: relative;
	padding: 40px 35px 51px 86px;
	&::after{
		content: '';
		width: 2px;
		position: absolute;
		top: 20px;
		bottom: 20px;
		right: 0;
		background-color: rgba(226, 226, 226, 0.16);
	}
	&::before{
		content: '';
		height: 2px;
		position: absolute;
		bottom: 0;
		right: 31px;
		left: 11px;
		background-color: rgba(226, 226, 226, 0.16);
	}
	
	.icon{
		width: 86px;
		position: absolute;
		top: 50%;
		left: 0;
		-webkit-transform: translateY(-50%);
	            transform: translateY(-50%);
		img{

		}
	}
	.text{
		width: 100%;
		float: left;
		p{
			margin-bottom: 0;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
		}
	}
}
@include media-breakpoint-down(md){
	.principle__cell:nth-child(odd){
		.principle::after{
			display: block;
			content: '';
			width: 2px;
			position: absolute;
			top: 20px;
			bottom: 20px;
			right: 0;
			background-color: rgba(226, 226, 226, 0.16);
		}
	}
	.principle__cell:nth-child(even){
		.principle::after{
			display: none;
		}
	}
}
@include media-breakpoint-down(sm){
	.principle__cell:nth-child(odd){
		.principle::after{
			display: none;
		}
	}
}