section.leaders__words__section{
	.content__row{
		margin-bottom: 60px;
	}
	.image__block{
		width: 100%;
		height: auto;
		position: relative;
		&::after{
			content: '';
			display: block;
			position: absolute;
			background-image: url('../images/price/layer.svg');
			width: 144px;
			height: 144px;
			top: 48px;
			right: 68px;
		}
		.position{
			width: 180px;
			position: absolute;
			bottom: 30px;
			right: 60px;
			h4{
				margin-bottom: 4px;
				font-weight: 600;
			}
			p{
				font-size: 18px;
				line-height: 20px;
				margin-bottom: 0;
			}
		}
		&.right{
			&::after{
				top: 45px;
				right: auto;
				left: 57px;
			}
			.position{
				right: auto;
				left: 40px;
			}
		}
	}
	.text{
		width: 100%;
		float: left;
		padding-top: 30px;
	}
}
@include media-breakpoint-down(md){
	section.leaders__words__section {
		.content__row{
			margin-bottom: 30px;
		}
		.image__block{
			width: 464px;
			margin: 0 90px 30px 90px;
			&::after{
				width: 122px;
				height: 122px;
				background-size: cover;
				top: 41px;
				right: 58px;
			}
			.position{
				right: 30px;
				bottom: 20px;
			}
			&.right{
				.position{
					left: 20px;
				}
			}
		}
		.text{
			padding: 0 90px;
		}
	}
	.text__column{
		-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 2;
	    order: 2;
	}
	.image__column{
		-webkit-box-ordinal-group: 1;
	    -ms-flex-order: 1;
	    order: 1;
	}
}
@include media-breakpoint-down(sm){
	section.leaders__words__section {
		.content__row{
			margin-bottom: 30px;
		}
		.image__block{
			width: 360px;
			margin: 0 0 30px 0;
			img{
				margin-bottom: 20px;
			}
			.position{
				width: 100%;
				position: static;
				&.text-right{
					text-align: left!important;
				}
			}
		}
		.text{
			padding: 0;
		}
	}
}