.made__numbers__section{
	position: relative;
	&::before{
		content: '';
		width: 440px;
		height: 440px;
		display: block;
		position: absolute;
		bottom: -220px;
		right: -220px;
		overflow: hidden;
		background-image: url('../images/layer-white.svg');
	}
	.line{
		width: 100%;
		height: 2px;
		float: left;
		background-color: #E9E9E9;
		margin: 80px 0;
	}
}
.line__block{
	&::after{
		content: '';
		width: 2px;
		height: 100%;
		display: block;
		position: absolute;
		background-color: #E2E2E2;
		top: 0;
		right: 0px;
	}
	&:first-child{
		.number__block{
			padding: 0 30px 0 0;
		}
	}
	&:last-child{
		&::after{
			display: none;
		}
		.number__block{
			padding: 0 0 0 30px;
		}
	}
}
.number__block{
	width: 100%;
	float: left;
	padding: 0 30px;
	.icon{
		margin-bottom: 20px;
	}
	h2{
		font-weight: 600;
		margin-bottom: 12px;
	}
	h5{
		font-weight: 600;
		margin-bottom: 12px;
	}
	p{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0;
	}
}
.icon__block{
	width: 100%;
	float: left;
	img{
		float: left;
		margin-right: 24px;
	}
	.text{
		display: flex;
		p{
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
		}
	}
}
@include media-breakpoint-down(md){
	.number__block{
		padding: 34px 15px 28px 15px;
		position: relative;
	}
	.line__block{
		&:first-child{
			.number__block{
			    padding: 0 15px 28px 0;
			    .icon{
			    	top: 0;
			    }
			}
		}
		&:last-child{
			.number__block{
			    padding: 34px 0 28px 15px;
			}
		}
	}	
}
@include media-breakpoint-down(sm){
	.made__numbers__section{
		.line{
			margin: 20px 0 40px;
		}
	}
	.number__block{
		padding: 34px 15px 28px 82px;
		position: relative;
		.icon{
			position: absolute;
			left: 0;
			top: 28px;
		}
	}
	.line__block{
		&::after{
			width: auto;
			height: 2px;
			top: auto;
			right: 15px;
			bottom: 0;
			left: 15px;
		}
		&:first-child{
			.number__block{
			    padding: 0 15px 28px 82px;
			    .icon{
			    	top: 0;
			    }
			}
		}
		&:last-child{
			.number__block{
			    padding: 34px 15px 28px 82px;
			}
		}
	}
	.icon__block{
		margin-bottom: 30px;
	}
}
@include media-breakpoint-down(xs){
	.number__block{
		padding: 34px 0 28px 0;
		.icon{
			position: static;
		}
		h2{
			position: absolute;
			top: 40px;
			left: 83px;
		}
		h5{
			margin-bottom: 7px;
			line-height: 24px;
		}
	}
	.line__block{
		&:first-child{
			.number__block{
			    padding: 0 15px 28px 0;
			    .icon{
			    	top: 0;
			    }
			    h2{
			    	top: 13px;
			    }
			}
		}
		&:last-child{
			.number__block{
			    padding: 34px 15px 28px 0;
			   	h2{
			    	top: 40px;
			    }
			}
		}
	}
}