.row__section{
	width: 100%;
	float: left;
	margin-bottom: 60px;
	.row__title{
		width: 100%;
		float: left;
		margin-bottom: 28px;
		h4{
			font-weight: 600;
		}
	}
	.compare__rows{
		width: 100%;
		float: left;
		padding-bottom: 60px;
		border-bottom: 2px solid #E9E9E9;
	}
	.compare__button{
		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		background-color: transparent;
		border: none;
		border-bottom: 2px dashed #A6D9EC;
		padding: 0;
		position: relative;
		&::after{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 6px 0 6px;
			border-color: #111 transparent transparent transparent;
			position: absolute;
			top: 8px;
			right: -20px;
		}
		&:focus{
			outline: none;
		}
	}
}
.package{
	width: 100%;
	float: left;
	background: #F4FAFF;
	box-shadow: 0px 3px 12px rgba(51, 51, 51, 0.2);
	border-radius: 1px;
	padding: 32px 40px 30px;
	margin-bottom: 40px;
	&>.title{
		width: 100%;
		min-height: 124px;
		float: left;
		border-bottom: 1px solid #D2D2D2;
		margin-bottom: 16px;
		h4{
			font-weight: 600;
			margin-bottom: 4px;
		}
		p{
			font-size: 14px;
			line-height: 18px;
		}
	}
	.documents,
	.monthes{
		width: 100%;
		float: left;
		border-bottom: 1px solid #D2D2D2;
		margin-bottom: 16px;
		.title{
			width: 100%;
			float: left;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 12px;
		}
	}
	.documents{
		.label__group{
			width: 100%;
			float: left;
			margin-bottom: 16px;
		}
		.document__radio{
			width: 33px;
			cursor: pointer;
			margin: 0 5px 0 0;
			text-align: center;
			position: relative;
			&:last-child{
				&::before{
					display: none;
				}
			}
			&.active{
				font-weight: 600;
				&::after{
					background-color: #365B78;
					border-color: #365B78;
				}
			}
			span{
				font-size: 13px;
				line-height: 20px;
			}
			input{
				position: absolute;
				opacity: 0;
				visibility: hidden;
			}
			&::after{
				content: '';
				width: 16px;
				height: 16px;
				display: block;
				border-radius: 50%;
				background: #FFFFFF;
				margin: 0 auto;
				border: 2px solid #75BEDB;
				position: relative;
				z-index: 2;
			}
			&::before{
				content: '';
				display: block;
				position: absolute;
				width: 40px;
				height: 2px;
				background-color: rgba(166, 217, 236, 0.2);
				z-index: 1;
			    top: 31px;
    			left: 16px;
			}
		}
	}
	.monthes{
		.label__group{
			width: 100%;
			float: left;
			margin-bottom: 16px;
		}
		.month__radio{
			cursor: pointer;
			margin: 0 7px 0 0;
			text-align: center;
			position: relative;
			&.active{
				span{
					border-color: #365B78;
					background-color: #365B78;
					color: #fff;
				}
			}
			span{
				width: 40px;
				height: 40px;
				display: block;
				border-radius: 50%;
				border: 2px solid #75BEDB;
				background: #FFFFFF;
				font-size: 16px;
				line-height: 36px;
			}
			input{
				position: absolute;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	.summary{
		width: 100%;
		float: left;
		margin-bottom: 16px;
		.price__block{
			width: 100%;
			float: left;
		}
		.discounts{
			width: 100%;
			float: left;
			margin-bottom: 8px;
			.discount{
				font-weight: 600;
				font-size: 12px;
				line-height: 16px;
				background-color: #1CA57C;
				padding: 4px 8px;
				display: block;
				float: left;
				color: #fff;
			}
			.discount__amount{
				float: left;
				margin-left: 11px;
				font-size: 13px;
				line-height: 24px;
				color: #111;
				position: relative;
				&::before{
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					top: 12px;
					left: 0;
					background-color: #111;
					position: absolute;
				}
			}
		}
		.price{
			width: 100%;
			float: left;
			font-weight: 400;
			font-size: 16px;
			line-height: 18px;
			margin-bottom: 8px;
			span{
				font-weight: 600;
				font-size: 26px;
				line-height: 28px;
			}
		}
		.price__details{
			width: 100%;
			float: left;
			font-size: 13px;
			line-height: 16px;
			margin-bottom: 16px;
			.details{
				margin-top: 20px;
				// font-size: 14px;
				// line-height: 20px;
				span{
					font-weight: 600;
					color: #212529;
				}
			}
		}
	}
	.packages__details{
		width: 100%;
		float: left;
		border-top: 1px solid #D2D2D2;
		padding-top: 16px;
		.show__button{
			font-size: 16px;
			line-height: 20px;
			cursor: pointer;
		}
		.details{
			width: 100%;
			margin-top: 18px;
			display: none;
			&.show{
				display: block;
			}
			p{
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 10px;
			}
		}
	}
}
.packages__table{
	width: 100%;
	float: left;
	flex-wrap: wrap;
	display: none;
	&.show{
		display: block;
	}
	&>.title{
		margin: 24px 0 28px;
		h4{
			font-weight: 600;
			margin-bottom: 0;
		}
	}
	.table__heads{
		width: 100%;
		display: flex;
        flex-wrap: wrap;
        background: #FFFFFF;
		.cell{
			width: 20%;
		    flex-grow: 1;
		    font-weight: 600;
			font-size: 18px;
			line-height: 32px;
			text-align: center;
			color: #111111;
			padding: 12px 5px;
			border-right: 1px solid #E8E8E8;
			word-break: break-word;
			&:last-child{
				border: none;
			}
			&.title{
				width: 40%;
				float: none;
				border: none;
			}
		}
	}
	.table__rows{
		width: 100%;
		display: flex;
        flex-wrap: wrap;
        .table__row{
        	width: 100%;
        	display: flex;
        	flex-wrap: wrap;
        	border-bottom: 1px solid #E8E8E8;
        }
        .cell{
			width: 20%;
		    flex-grow: 1;
		    font-weight: normal;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			padding: 12px 0 11px;
			color: #111111;
			border-right: 1px solid #E8E8E8;
			position: relative;
			.checked{
				width: 24px;
				height: 19px;
				display: block;
				background-image: url('../images/check-icon.svg');
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -9.5px 0 0 -12px;
			}
			.line{
				width: 28px;
				height: 2px;
				display: block;
				background-color: #444;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -1px 0 0 -14px;
			}
			&:last-child{
				border: none;
			}
			&.title{
				width: 40%;
				float: none;
				text-align: left;
				margin-bottom: 0;
				border: none;
			}
		}
	}
	.table__footer{
		width: 100%;
		display: flex;
        flex-wrap: wrap;
        .cell{
			width: 20%;
		    flex-grow: 1;
		    font-weight: normal;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			padding: 12px 0 11px;
			color: #111111;
			border-right: 1px solid #E8E8E8;
			&:last-child{
				border: none;
			}
			&.title{
				width: 40%;
				float: none;
				text-align: left;
				margin-bottom: 0;
				border: none;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.package{
		padding: 32px 28px 45px;
	}
}
@include media-breakpoint-down(xs){
	.packages__table {
		.table__heads .cell{
			font-size: 14px;
			line-height: 18px;
		}
		.table__rows .cell{
			font-size: 14px;
			line-height: 18px;
		}
		.table__footer .cell{
			font-size: 14px;
			line-height: 18px;
		}
	}
}