.page__banner{
	width: 100%;
	height: 100vh;
	background-position: center bottom;
	background-size: cover;
	overflow: hidden;
	position: relative;
	padding: 0;
	&::before{
		content: '';
		pointer-events: none;
		width: 440px;
		height: 440px;
		display: block;
		position: absolute;
		background-image: url('../images/home/layer.svg');
		bottom: -66px;
		right: -220px;
	}
	.content{
		width: 100%;
		height: 100vh;
		position: relative;
		padding: 146px 0 0 0;
		color: #fff;
		h1{
			font-weight: 600;
			margin-bottom: 0;
		}
	}
	&__information{
		padding: 20px 0 13px;
		.content{
			width: 100%;
			float: left;
			.block{
				width: 100%;
				float: left;
				padding-left: 17px;
				border-left: 2px solid rgba(54, 91, 120, 0.4);
				font-weight: 500;
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 28px;
			}
		}
	}
	.top__line{
		float: left;
		p{
			text-align: center;
		}
	}
	.bottom__line{
		width: 100%;
		position: absolute;
		bottom: 100px;
		left: 0;
		.block{
			max-width: 265px; 
			min-height: 72px;
			margin-right: 60px;
			float: left;
			padding: 0 0 0 17px;
			position: relative;
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			&::before{
				content: '';
				width: 2px;
				display: block;
				position: absolute;
				left: 0;
				top: 4px;
				bottom: 4px;
				background-color: #B5B5B5;
			}
		}
	}
}
@include media-breakpoint-down(lg){
	.page__banner{
		&.background__grey{
			background-color: transparent!important
		}
		.bottom__line .block{
			margin-right: 20px;
		}
	}
}
@include media-breakpoint-down(md){
	.page__banner .top__line p{
		text-align: left;
	}
}
@include media-breakpoint-down(sm){

}