.posts__wrapper{
	width: 100%;
	float: left;
	position: relative;
	.swiper-button-next,
	.swiper-button-prev{
		top: 31%;
	}
	.swiper-button-next{
		right: -26px;
	}
	.swiper-button-prev{
		left: -26px;
	}
}
.post{
	width: 100%;
	float: left;
	.thumbnail{
		width: 100%;
		height: 240px;
		float: left;
		background-size: cover;
		background-position: center;
		margin-bottom: 12px;
	}
	h5{
		font-weight: 600;
		line-height: 26px;
		color: #111111;
		margin-bottom: 0;
		-webkit-transition: all 0.3s ease;
        		transition: all 0.3s ease;
	}
	&:hover{
		text-decoration: none;
		h5{
			color: #365B78;
		}
	}
}
.post__item{
	&.youtube,
	&.facebook{
		.post{
			background: #395185;
			.image{
				height: 150px;
				margin-top: 4px;
				margin-bottom: 0;
			}
			a{
				width: auto;
				float: none;
			}
			.text{
				padding: 20px 40px;
				h5{
					color: #fff;
					margin-bottom: 23px;
				}
				.excerpt{
					width: 100%;
					float: left;
					position: relative;
					padding-left: 50px;
					margin-bottom: 24px;
					&::before{
						content: '';
						display: block;
						position: absolute;
						left: 0;
						top: -3px;
						width: 34px;
						height: 34px;
						background-image: url('../images/about-us/facebook.svg');
					}
					p{
						font-weight: 500;
						font-size: 14px;
						line-height: 14px;
						color: #fff;
					}
				}
			}
			&:hover{
				h5{
					color: #fff;
				}
			}
		}
	}
	&.youtube{
		.post{
			background-color: #DF2925;
			.text{
				.excerpt{
					&::before{
						top: 1px;
						width: 38px;
						height: 28px;
						background-image: url('../images/about-us/youtube.svg');
					}
				}
			}
		}
	}
	&.video{
		.post{
			.image{
				&::before{
					content: '';
					display: block;
					position: absolute;
					width: 76px;
					height: 76px;
					top: 50%;
					left: 50%;
					margin: -38px 0 0 -38px;
					background-image: url('../images/play.svg');
				}
			}
		}
	}
	&.webinar{
		.post{
			background-color: #F4FAFF;
			.top__information{
				width: 100%;
				float: left;
				padding: 18px 20px 10px;
				h4{
					margin-bottom: 4px;
					font-weight: 600;
				}
				time{
					font-size: 16px;
					line-height: 20px;
				}
				span{
					font-size: 12px;
					line-height: 20px;
					margin-left: 20px;
					padding-left: 17px;
					position: relative;
					&::before{
						content: '';
						width: 12px;
						height: 12px;
						display: block;
						background-image: url('../images/clock-icon.svg');
						position: absolute;
						left: 0px;
						top: 1px;
					}
				}
			}
			.wrapper{
				width: 100%;
				float: left;
				padding: 0 68px 20px 20px;
				.text{
					h5{
						margin-bottom: 0;
					}
				}
				.free{
					min-width: 105px;
					float: left;
					height: 28px;
					display: block;
					border: 1px solid #1CA57C;
					font-weight: 600;
					font-size: 14px;
					line-height: 24px;
					text-align: center;
					color: #1CA57C;
				}
				.author{
					width: 100%;
					float: left;
					margin-top: 20px;
					.avatar{
						width: 60px;
						height: 60px;
						border-radius: 50%;
						background-position: center;
						background-size: cover;
						overflow: hidden;
						float: left;
					}
					.information{
						float: left;
						margin-left: 16px;
						h6{
							font-weight: 600;
							font-size: 16px;
							line-height: 20px;
							margin-bottom: 2px;
						}
						p{
							font-size: 15px;
							line-height: 20px;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	.post{
		width: 100%;
		float: left;
		margin-bottom: 40px;
		a{
			width: 100%;
			float: left;
			&:hover{
				text-decoration: none;
			}
		}
		.image{
			width: 100%;
			height: 240px;
			background-position: center;
			background-size: cover;
			float: left;
			margin-bottom: 12px;
			position: relative;
			img{
				width: 100%;
				height: auto;
			}
		}
		.text{
			width: 100%;
			float: left;
			margin-bottom: 8px;
			h5{
				margin-bottom: 8px;
			}
			p{
				font-size: 14px;
				line-height: 20px;
				color: #444444;
				margin-bottom: 0;
			}
		}
		.details{
			width: 100%;
			float: left;
			span{
				font-size: 13px;
				line-height: 20px;
				&.comments{
					padding-left: 35px;
					position: relative;
					font-weight: 600;
					&::before{
						content: '';
						width: 12px;
						height: 13px;
						display: block;
						position: absolute;
						left: 15px;
						top: 3px;
						background-image: url('../images/comments-icon.svg');
					}
				}
			}
		}
	}
}
.full__width{
	margin-bottom: 50px;
	&.grey{
		background-color: #F6F7F7;
	}
}
.post__title{
	width: 100%;
	float: left;
	h1.h2{
		margin-bottom: 20px;
		font-weight: 600;
	}
}
.post__details{
	width: 100%;
	float: left;
	padding: 28px 0;
	.date{
		width: 100%;
		float: left;
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 8px;
		color: #444;
	}
	.comments{
		width: 100%;
		float: left;
		font-size: 13px;
		line-height: 20px;
		padding-left: 18px;
		position: relative;
		font-weight: 600;
		color: #444;
		&::before{
			content: '';
			width: 12px;
			height: 13px;
			display: block;
			position: absolute;
			left: 0;
			top: 4px;
			background-image: url('../images/comments-icon.svg');
		}
	}
}
.post__excerpt{
	width: 100%;
	float: left;
	padding: 20px 0;
	p{
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 0;
	}
}
.content__editor{
	width: 100%;
	float: left;
	padding: 20px 0;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			position: relative;
			padding-left: 20px;
			margin-bottom: 20px;
			&::before{
				content: '';
				width: 8px;
				height: 8px;
				display: block;
				position: absolute;
				left: 0;
				top: 8px;
				border: 2px solid #365B78;
				border-radius: 50%;
			}
		}
	}
}
.single-post{
	.video__wrapper{
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}
	.video__block{
		width: 100%;
		height: 400px;
		float: left;
		position: relative;
		&.play{
			.video__frame{
				opacity: 1;
				visibility: visible;
			}
		}
		.play__btn{
			width: 104px;
			height: 104px;
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -52px 0 0 -52px;
			background-image: url('../images/play-icon.svg');
			cursor: pointer;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			&:hover{
				background-image: url('../images/play-icon-hover.svg');
			}
		}
		.video__frame{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			iframe{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.thumbnail{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.2);
	}
	.webinar__item{
		width: 100%;
		float: left;
		position: relative;
		margin-bottom: 40px;
		padding-bottom: 0;
		background-color: #F4FAFF;
		border: none;
		.thumbnail{
			height: auto;
			position: static;
			box-shadow: none;
		}
		.author{
			position: static;
			padding: 16px 16px 16px 20px;
			.information p{
				font-size: 15px;
			}
		}
		.text__link{
			margin: 20px 0 35px 20px;
		}
		.content{
			min-height: inherit;
			padding: 28px 28px 0 0;
			h4{
				margin-bottom: 8px;
				font-weight: 600;
			}
			.title{
				width: 100%;
				float: left;
				h5{
					font-weight: 600;
					margin-bottom: 16px;
				}
			}
		}
		.details{
			margin-bottom: 8px;
		}
		.webinar__wrapper{
			margin-top: 36px;
			padding-right: 56px;
			padding-bottom: 28px;
		}
	}
	.author__block{
		width: 100%;
		float: left;
		padding-bottom: 40px;
		border-bottom: 2px solid #E9E9E9;
		margin-bottom: 40px;
		.information{
			width: 100%;
			float: left;
			position: relative;
			padding: 0 0 0 76px;
			.avatar{
				width: 60px;
				height: 60px;
				position: absolute;
				left: 0;
				top: 0;
				border-radius: 50%;
				overflow: hidden;
				background-position: center;
				background-size: cover;
			}
			.name{
				width: 100%;
				float: left;
				padding: 5px 0 9px;
				span{
					font-size: 14px;
					line-height: 20px;
				}
				h6{
					font-size: 16px;
					line-height: 20px;
					font-weight: 600;
					margin-bottom: 0;
				}
			}
		}
		.share{
			font-size: 13px;
			line-height: 20px;
			color: #111111;
			cursor: pointer;
			position: relative;
			span{
				width: 100%;
				float: left;
				position: relative;
				padding: 10px 0 10px 30px;
				&::before{
					content: '';
					width: 16px;
					height: 18px;
					display: block;
					position: absolute;
					left: 0;
					top: 11px;
					background-image: url('../images/share-icon.svg');
				}
			}
			&:hover{
				ul{
					top: 100%;
					opacity: 1;
					visibility: visible;
				}
			}
			ul{
				width: 220px;
				top: 130%;
				right: 0;
				position: absolute;
				background-color: #fff;
				box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.12);
				border-radius: 1px;
				padding: 20px 20px 6px 18px;
				list-style: none;
				margin: 0;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all 0.3s ease;
        				transition: all 0.3s ease;
				li{
					width: 100%;
					float: left;
					font-size: 14px;
					line-height: 20px;
					color: #111111;
					margin-bottom: 12px;
					padding-left: 32px;
					position: relative;
					-webkit-transition: all 0.3s ease;
        					transition: all 0.3s ease;
					&::before{
						content: '';
						display: block;
						position: absolute;
						left: 0;
					}
					&.messenger{
						&::before{
							width: 20px;
							height: 21px;
							background-image: url('../images/sharing/messenger.svg');
						}
						&:hover{
							color: #395185;
						}
					}
					&.telegram{
						&::before{
							width: 20px;
							height: 18px;
							background-image: url('../images/sharing/telegram.svg');
						}
						&:hover{
							color: #40B3E0;
						}
					}
					&.whatsapp{
						&::before{
							width: 20px;
							height: 21px;
							background-image: url('../images/sharing/whatsapp.svg');
						}
						&:hover{
							color: #68BF25;
						}
					}
					&.skype{
						&::before{
							width: 20px;
							height: 21px;
							background-image: url('../images/sharing/skype.svg');
						}
						&:hover{
							color: #1C9ED1;
						}
					}
				}
			}
		}
	}
}
.comments__wrapper{
	width: 100%;
	float: left;
	padding: 0;
	h4{
		font-weight: 600;
		font-size: 28px;
		line-height: 34px;
		margin-bottom: 20px;
	}
	.comments__list{
		width: 100%;
		float: left;
		margin-bottom: 40px;
		ul{
			width: 100%;
			float: left;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				width: 100%;
				float: left;
				padding-bottom: 20px;
				border-bottom: 2px solid #E9E9E9;
				margin-bottom: 20px;
				.comment__author{
					width: 33%;
					float: left;
					padding-right: 28px;
					h6{
						font-weight: 600;
						font-size: 15px;
						line-height: 22px;
						margin-bottom: 0;
					}
					p{
						font-size: 14px;
						line-height: 22px;
						color: #888;
					}
				}
				.comment__text{
					width: 67%;
					float: left;
					p{
						font-size: 14px;
						line-height: 22px;
					}
				}
			}
		}
	}
}
.comments__form{
	width: 100%;
	float: left;
	background: #F6F7F7;
	padding: 24px 28px 20px;
	margin-bottom: 100px;
	.comment-notes{
		font-size: 13px;
		margin-bottom: 20px;
	}
	h3{
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 0px;
	}
	.submit__group{
		.form__submit{
			width: auto;
			padding: 12px 20px;
		}
	}
	.field__group{
		margin-bottom: 20px;
		label {
			width: 100%;
			float: left;
			.placeholder{
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
			}
			textarea.form__field{
				width: 100%;
				max-width: 100%;
				height: 100px;
			}
			.form__field{
				max-width: 320px;
			}
		}
		&.checkbox{
			label{
				position: relative;
				input{
					position: absolute;
					left: 0;
					top: 5px;
				}
				.placeholder{
					padding-left: 25px;
				}
			}
		}
	}
}
.related__block{
	width: 100%;
	float: left;
}
.related__title{
	width: 100%;
	float: left;
	h2{
		font-weight: 600;
		margin-bottom: 22px;
	}
}
@include media-breakpoint-down(xs){
	.posts__wrapper {
		.swiper-button-next,
		.swiper-button-prev{
			display: none;
		}
	}
	.post__details{
		padding: 20px 0 0;
	}
}