.requisites__section{

}
.requisites__table{
	width: 100%;
	float: left;
	.req__row{
		width: 100%;
		float: left;
		border-bottom: 1px solid #E9E9E9;
		padding: 12px 0;
		.th{
			width: 35%;
			float: left;
			p{
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 0;
			}
		}
		.td{
			width: 65%;
			float: left;
			p{
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 0;
			}
			a{
				color: #365B78;
				text-decoration: underline;
				&:hover{
					color: #FADB37;
				}
			}
		}
	}
}
@include media-breakpoint-down(xs){
	.requisites__table .req__row {
		.td,
		.th{
			width: 100%;
		}
		.th{
			margin-bottom: 16px;
		}
	}
}