.social{
	width: 100%;
	height: 404px;
	float: left;
	box-sizing: border-box;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
	border-radius: 1px;
	color: #fff;
	&.facebook{
		background-color: #395185;
		.content .details::before{
			width: 34px;
			height: 34px;
			background-image: url('../images/about-us/facebook.svg');
		}
	}
	&.telegram{
		background-color: #40B3E0;
		.content .details::before{
			width: 36px;
			height: 36px;
			background-image: url('../images/about-us/telegram.svg');
		}
	}
	&.youtube{
		background-color: #DF2925;
		.content .details::before{
			width: 38px;
			height: 28px;
			background-image: url('../images/about-us/youtube.svg');
		}
	}
	.image{
		width: 100%;
		height: 150px;
		margin: 4px 0 20px;
		float: left;
		background-size: cover;
		background-position: center;
	}
	.content{
		width: 100%;
		float: left;
		padding: 0 28px;
		.title{
			min-height: 73px;
			margin-bottom: 23px;
			h5{
				line-height: 26px;
				margin-bottom: 0;
			}
		}
		.details{
			width: 100%;
			float: left;
			margin-bottom: 24px;
			// padding-left: 48px;
			position: relative;
			&::before{
				content: '';
				display: block;
				float: left;
				margin-right: 18px;
				// position: absolute;
				// top: 50%;
				// left: 0;
				// -webkit-transform: translateY(-50%);
	   //          		transform: translateY(-50%);
			}
			p{
				font-weight: 500;
				font-size: 14px;
				line-height: 14px;
				margin-top: 3px;
				margin-bottom: 0;
			}
		}
	}
}