.example__section{
	.form__block{
		width: 345px;
		display: block;
		padding: 52px 50px 37px;
		background: #365B78;
		border-radius: 1px;
		color: #fff;
		margin-top: 60px;
		h5{
			margin-bottom: 20px;
		}
		p{
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 0;
		}
	}
	.tabs{
		width: 100%;
		float: left;
		.navigation{
			width: 100%;
			float: left;
			margin-bottom: 27px;
			.tab{
				font-weight: 300;
				font-size: 16px;
				line-height: 24px;
				margin-right: 20px;
				float: left;
				cursor: pointer;
				border-bottom: 1px dashed rgba(68, 68, 68, 0.4);
				&.active{
					font-weight: 600;
					border-bottom: 1px solid #444444;
				}
			}
		}
		.content{
			width: 100%;
			float: left;
			.tab{
				display: none;
				&.active{
					display: block;
				}
			    .swiper-button-prev{
			    	left: -16px;
			    }
			    .swiper-button-next{
			    	right: -16px;
			    }
			}
		}
	}
}
.swiper-button-next,
.swiper-button-prev{
	width: 52px;
	height: 52px;
	display: block;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	margin-top: -17px;
	box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.12);
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&:focus{
		outline: none;
	}
	&::after{
		font-size: 22px;
		line-height: 52px;
		color: #A6D9EC;
	}
}
.swiper-pagination{
	width: 100%;
	float: left;
	text-align: center;
	position: static;
	margin-top: 15px;
	.swiper-pagination-bullet{
		width: 8px;
		height: 8px;
		display: inline-block;
		border-radius: 50%;
		background: #A6D9EC;
		margin: 0 5px;
		opacity: 1;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&.swiper-pagination-bullet-active{
			background: #365B78;
			-webkit-transform: scale(1.3);
					transform: scale(1.3);
		}
	}
}
.tab__slider{
	&.swiper-container{
		height: 522px;
	}
	&.no__subtitle{
		height: 568px;
		.swiper-slide {
			height: 284px;
			.example{
				padding: 28px;
				height: 268px;
				.ex__title{
					width: 100%;
					float: left;
					margin-top: 5px;
					padding-left: 60px;
					margin-bottom: 22px;
				}
			}
		}
	}
	.swiper-slide {
		max-width: 365px;
		height: 261px;
		padding: 8px;
		.example{
			width: 100%;
			height: 245px;
			padding: 28px 28px 28px 88px;
			background: #fff;
			box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.12);
			border-radius: 4px;
			position: relative;
			.icon{
				position: absolute;
				top: 28px;
				left: 28px;
			}
			.content{
				width: 100%;
				float: left;
				h5{
					font-weight: 600;
					margin-bottom: 12px;
				}
				p{
					margin-bottom: 0;
					font-size: 16px;
					line-height: 28px;
				}
				h6{
					margin: 12px 0 0;
					font-size: 18px;
					line-height: 24px;
					font-weight: 600;
				}
			}
		}
    }
}
.form__section{
	padding: 40px 0;
	.form__block{
		width: 100%;
		float: left;
		.wpcf7{
			width: 100%;
			float: left;
		}
		p{
			width: 100%;
			float: left;
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 0;
		}
		.field__group{
			width: 50%;
			padding-right: 6px;
		}
		.submit__group{
			width: 50%;
			padding-left: 6px;
		}
	}
}
@include media-breakpoint-down(md){
	.form__section .form__block{
		
	}
	.tab__slider {
		.swiper-slide{
			max-width: 100%;
			.example .content p{
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
}
@include media-breakpoint-down(sm){
	.tab__slider{
		&.swiper-container{
			height: auto;
		}
		.swiper-slide {
			height: auto;
			.example{
				float: left;
				height: auto;
				min-height: 185px;
			}
		}
	}
}
@include media-breakpoint-down(xs){
	.form__section .form__block {
		h5.text-left{
			text-align: center!important;
			margin-bottom: 16px;
		}
		.field__group{
			width: 100%;
			padding-right: 0;
		}
		.submit__group{
			width: 100%;
			padding-left: 0;
		}
	}
}