.testimonials__section{
	position: relative;
	overflow: hidden;
	&::before{
		content: '';
		pointer-events: none;
		width: 440px;
		height: 440px;
		display: block;
		position: absolute;
		background-image: url('../images/layer-grey.svg');
		bottom: -220px;
		left: -220px;
	}
}
.testimonials{
	width: 100%;
	float: left;
	position: relative;
	.navigation{
		width: 100%;
		float: left;
		padding-right: 70px;
	}
	.test_avatar{
		width: 100%;
		height: 130px;
		float: left;
		border-bottom: 2px solid #E9E9E9;
		padding-top: 24px;
		padding-bottom: 24px;
		position: relative;
		padding-left: 96px;
		cursor: pointer;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&.active,
		&:hover{
			border-color: #EDF4F5;
			&::after{
				background-color: #EDF4F5;
			}
			&::before{
				border-color: transparent transparent transparent #EDF4F5;
			}
		}
		&.active{
			.content{
				h6{
					font-weight: 700;
				}
			}
		}
		&::after{
			content: '';
			left: -20px;
			right: 0;
			top: 0;
			height: 100%;
			position: absolute;
			display: block;
			z-index: -1;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
		}
		&::before{
			content: '';
			position: absolute;
			top: 0;
			right: -30px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 65px 0 65px 30px;
			border-color: transparent transparent transparent transparent;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
		}
		.avatar{
			width: 76px;
			height: 76px;
			display: block;
			position: absolute;
			background-size: cover;
			background-position: center;
			top: 25px;
			left: 0;
		}
		.content{
			width: 100%;
			float: left;
			h6{
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 0;
				&.bold{
					font-weight: 700;
				}
			}
		}
	}
	.details{
		width: 100%;
		float: left;
		position: relative;
	}
}
.test__content{
	width: 100%;
	float: left;
	&.small{
		.thumbnail,
		.video__block{
			height: 312px;
		}
	}
	&.absolute{
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateY(100px);
	            transform: translateY(100px);
		-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
	}
	&.active{
		-webkit-transform: translateX(0);
            	transform: translateX(0);
		opacity: 1;
		visibility: visible;
		position: relative;
	}
	.video__block{
		width: 100%;
		height: 420px;
		float: left;
		margin-bottom: 20px;
		position: relative;
		&.play{
			.video__frame{
				opacity: 1;
				visibility: visible;
			}
		}
		.play__btn{
			width: 104px;
			height: 104px;
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -52px 0 0 -52px;
			background-image: url('../images/play-icon.svg');
			cursor: pointer;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			&:hover{
				background-image: url('../images/play-icon-hover.svg');
			}
		}
		.video__frame{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			iframe{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.thumbnail{
		width: 100%;
		height: 420px;
		float: left;
		background-size: cover;
		background-position: center;
	}
	.content{
		width: 100%;
		float: left;
		&.right{
			.project{
				padding-right: 0;
				padding-left: 60px;
			}
		}
		h5{
			font-weight: 600;
			font-size: 20px;
			line-height: 32px;
			margin-bottom: 12px;
		}
		.project{
			width: 35%;
			float: left;
			padding-right: 60px;
			h5{
				font-size: 20px;
				line-height: 26px;
			}
			h6{
				font-weight: 600;
				font-size: 18px;
				line-height: 24px;
			}
			p{
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 20px;
			}
		}
		.description{
			width: 65%;
			float: left;
			p{
				font-size: 16px;
				line-height: 26px;
			}
		}
	}
}
.more__stories{
	width: 100%;
	float: left;
	margin-top: 15px;
}
@include media-breakpoint-down(lg){
	.testimonials .navigation{
		padding-right: 20px;
		padding-left: 10px;
	}
	.test__content {
		.video__block,
		.thumbnail{
			height: 328px;
		}
	}
}
@include media-breakpoint-down(md){
	.testimonials {
		.content{
			.project{
				width: 40%;
				padding-right: 40px;
			}
			.description{
				width: 60%;
			}
		}
		.navigation{
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 30px;
		}
		.test_avatar{
			width: 104px;
			height: 76px;
			padding-left: 0;
			border: none;
			&:hover,
			&.active{
				&::before{
					border-color: #EDF4F5 transparent transparent transparent;
				}
			}
			&::before{
				border-width: 30px 52px 0 52px;
				border-color: transparent transparent transparent transparent;
				left: 0;
				right: auto;
				top: auto;
				bottom: -30px;
			}
			&::after{
				left: 0;
			}
			.avatar{
				width: 64px;
				height: 64px;
				top: 12px;
				left: 50%;
				-webkit-transform: translateX(-50%);
	            		transform: translateX(-50%);
			}
		}
	}
	.test__content {
		.video__block{
			height: 397px;
		}
		.thumbnail{
			height: 397px;
			box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.2);
		}
	}
}
@include media-breakpoint-down(sm){
	.testimonials .test_avatar{
		width: 80px;
		&::before{
			border-width: 30px 40px 0 40px;
		}
	}
	.test__content {
		.video__block,
		.thumbnail{
			height: 300px;
		}
		.content{
			&.right{
				.project{
					padding-left: 0;
				}
			}
		}
	}
}
@include media-breakpoint-down(xs){
	.testimonials{
		.navigation{
			margin-bottom: 10px;
		}
		.test_avatar {
			width: 60px;
			height: 65px;
			&::before{
				border-width: 10px 30px 0 30px;
				bottom: -10px;
			}
			.avatar{
				width: 50px;
				height: 50px;
				top: 10px;
			}
		}
		.content {
			.project{
				width: 100%;
				padding-right: 0;
			}
			.description{
				width: 100%;
			}
		}
	}
	.test__content{
		width: 100%;
		padding-right: 0;
		.video__block,
		.thumbnail{
			height: 200px;
		}
	}
}