.video__section{
	padding: 60px 0;
	.video__wrapper{
		width: 100%;
		float: left;
		padding: 0 70px;
		margin-bottom: 60px;
	}
	.video__block{
		width: 100%;
		height: 535px;
		float: left;
		position: relative;
		&.play{
			.video__frame{
				opacity: 1;
				visibility: visible;
			}
		}
		.play__btn{
			width: 104px;
			height: 104px;
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -52px 0 0 -52px;
			background-image: url('../images/play-icon.svg');
			cursor: pointer;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			&:hover{
				background-image: url('../images/play-icon-hover.svg');
			}
		}
		.video__frame{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			iframe{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.thumbnail{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.2);
	}
	.content__block{
		width: 100%;
		float: left;
		.icon{
			margin-bottom: 28px;
		}
		.text{
			width: 100%;
			max-width: 650px;
			margin: 0 auto;
			h3{
				margin-bottom: 11px;
			}
			p{
				font-weight: normal;
				font-size: 24px;
				line-height: 36px;
				margin-bottom: 0;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.video__section .video__wrapper{
		padding: 0;
	}
}
@include media-breakpoint-down(sm){
	.video__section .video__block{
		height: 396px;
	}
}
@include media-breakpoint-down(xs){
	.video__section .video__block{
		height: 200px;
	}
}