.webinar__item{
	width: 100%;
	float: left;
	margin-bottom: 48px;
	padding-bottom: 48px;
	border-bottom: 2px solid #E9E9E9;
	.thumbnail{
		width: 100%;
		img{
			width: 100%;
		}
	}
	&:last-child{
		border: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.content{
		width: 100%;
		float: left;
		min-height: 260px;
		position: relative;
		a{
			width: 100%;
			float: left;
			color: #111111;
			margin-top: 8px;
			margin-bottom: 12px;
		}
	}
	.details{
		width: 100%;
		float: left;
		margin-bottom: 35px;
		h4{
			font-weight: 600;
		}
		span{
			float: left;
			font-size: 14px;
			line-height: 20px;
			margin-left: 20px;
			padding-left: 17px;
			position: relative;
			&::before{
				content: '';
				width: 12px;
				height: 12px;
				display: block;
				background-image: url('../images/clock-icon.svg');
				position: absolute;
				left: 0;
				top: 3px;
			}
		}
	}
	time{
		float: left;
		font-size: 16px;
		line-height: 20px;
	}
	.free{
		min-width: 105px;
		float: left;
		height: 28px;
		display: block;
		border: 1px solid #1CA57C;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		color: #1CA57C;
	}
	.author{
		width: 100%;
		float: left;
		position: absolute;
		bottom: 0;
		left: 0;
		.avatar{
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background-position: center;
			background-size: cover;
			overflow: hidden;
			float: left;
		}
		.information{
			float: left;
			margin-left: 16px;
			h6{
				font-weight: 600;
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 2px;
			}
			p{
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 0;
			}
		}
	}
}
.webinar__wrapper{
	width: 100%;
	float: left;
	position: relative;
	&.success{
		.webinar__success{
			opacity: 1;
			visibility: visible;
			position: static;
		}
	}
	.webinar__success{
		width: 100%;
		float: left;
		min-height: 100%;
		padding: 15px 0;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		&::before{
			content: '';
			width: 24px;
			height: 24px;
			display: block;
			background-image: url('../images/success-icon.svg');
			margin-bottom: 12px;
		}
		h5{
			line-height: 24px;
			margin-bottom: 12px;
		}
		p{
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 0;
		}
	}
}
.webinar__form{
	width: 100%;
	float: left;
	padding-top: 25px;
	.subscribers{
		width: 100%;
		float: left;
		font-size: 13px;
		line-height: 16px;
	}
}
@include media-breakpoint-down(md){
	.webinar__item {
		time{
			width: 100%;
		}
		.details{
			span{
				width: 100%;
				margin-left: 0;
			}
		}
		.author{
			position: static;
		}
	}
}
@include media-breakpoint-down(xs){
	.webinar__item .thumbnail{
		margin-bottom: 12px;
	}
}